<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeLooker"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="31">
        <activity
            android:name=".EditarEstancia"
            android:exported="false" />
        <activity
            android:name=".Informacion"
            android:exported="false" />
        <activity
            android:name=".Ordenar"
            android:exported="false" />
        <activity
            android:name=".Filtrar"
            android:exported="false" />
        <activity
            android:name=".NuevaEstancia"
            android:exported="false" />
        <activity
            android:name=".Resultados"
            android:exported="false" />
        <activity
            android:name=".EditarCuenta"
            android:exported="false" />
        <activity
            android:name=".CambiarContrasenia"
            android:exported="false" />
        <activity
            android:name=".Ajustes"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.HomeLooker.NoActionBar" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>